*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, button, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;

}

img {
    display: flex;
    width: 100%;
}


/* Filters */

#filters {
    display: flex;
    justify-content: space-evenly;
    max-width: 70rem;
    margin-inline: auto;
}

button {
    color: black;
    background-color: #EBEBEB;
    width: 5rem;
    height: 2rem;
    font-size: .6rem;
    border-radius: .2rem;
    border: none;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: rgb(17, 17, 17);
    color: whitesmoke;
}

button + button {
    margin-left: .5rem;
}

/* Sessions Section */

.sessions {
    display: grid;
    gap: 2rem 0;
}

.sessions a {
    color: black;
    text-decoration: none;
}

.session-container {
    display: flex;
    max-width: 25rem;
    align-items: center;
    box-shadow: 
    rgba(0,0,0,0.1) 0 2px 2px,
    rgba(0,0,0,0.1) 0 4px 4px,
    rgba(0,0,0,0.1) 0 8px 8px,
    rgba(0,0,0,0.1) 0 16px 16px;
    border-top: 1px solid rgb(248, 248, 248);
    margin: 0 auto;
    width: 100%;
}

.session-container img {
    width: 7rem;
    height: 7rem;
}

.session-info {
    padding-left: 1rem;
}

.session-info h4 {
    font-size: .9rem;
}

.session-info p {
    font-size: .7rem;
}

.session-info p:last-child {
    padding-top: 1rem;
}

.flex-level {
    display: flex;
    flex: 1;
    align-items: baseline;
}

.flex-level img {
    max-width: 1rem;
    max-height: 1rem;
    margin-right: 1rem;
    align-items: flex-end;
}

@media ( min-width: 440px ) {
    button {
        min-width: 6rem;
        min-height: 3rem;
        font-size: .8rem;
    }
}


@media ( min-width: 610px ) {

    /* Filters */

    button {
        min-width: 7rem;
        min-height: 3rem;
        font-size: 1rem;
    }

    /* Sessions Section */

    .sessions {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem 2rem;
    }
}

@media ( min-width: 900px ) {

    .session-container {
        max-width: 35rem;
    }

    .session-container img {
        width: 8rem;
        height: 8rem;
    }
    
    .session-info h4 {
        font-size: 1.2rem;
    }
}

@media ( min-width: 1448px ) {

    .sessions {
        grid-template-columns: repeat(3, 1fr);
    }
}