*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, button{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

img, iframe {
    display: block;
    width: 100%;
}

/* Hero Section */

.hero {
    background-image: url(../img/SpeedballCoachHero.png);
    min-height: 20rem;
    background-repeat: no-repeat;
    background-position: top right 30%;
    background-size: cover;
    display: grid;
    place-items: center;
}

.hero h1 {
    color: whitesmoke;
    font-size: 3.5rem;
    text-align: center;
}

section {
    padding: 1.5rem;
    margin-bottom: 2rem;
}

/* Training Tips Section */

h2 {
    font-size: 2.5rem;
    padding-bottom: 4rem;
}

details:hover {
    cursor: pointer;
}

summary {
    text-decoration: underline;
    padding-bottom: 1rem;
    font-weight: bold;
}

details p, .tip {
    line-height: 1.5rem;
    font-size: .8rem;
    padding-bottom: 2rem;
}

.drill-section ul {
    padding-left: 1rem;
}

.title {
    font-weight: bold;
    padding-bottom: 2rem;
}

.tip {
    list-style-type: disc;
}

/* Drill videos section */

.heading {
    margin-block: 4rem 2rem;
}

h3 {
    font-size: 1.9rem;
}

.heading p {
    font-size: .8rem;
    padding-top: .5rem;
    color: lightgray;
}

.video {
    box-shadow:
		rgba(0,0,0,0.1) 0 2px 2px,
		rgba(0,0,0,0.1) 0 4px 4px,
		rgba(0,0,0,0.1) 0 8px 8px,
		rgba(0,0,0,0.1) 0 16px 16px;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

iframe {
    border-radius: 1rem 1rem 0 0;
    border: 0;
}

.content {
    padding: 1.5rem;
}

h4 {
    padding-bottom: 1rem;
}



@media ( min-width: 600px ) {

    /* Drill videos section */

    .dorito-move-container::-webkit-scrollbar {
        width: 0;
    }

    .dorito-move-container {
        margin: 0 auto;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: inline mandatory;
        scroll-padding-inline: 2rem;
    }

    .video {
        min-width: 25rem;
    }

    .video + .video {
        margin-left: 1rem;
    }

    .dorito-move-container:first-child, .dorito-move-container:last-child {
        padding-inline: 1rem;
    }

    .dorito-move-container > * {
        scroll-snap-align: start;
    }

    h3 {
        font-size: 2.5rem;
    }
}


@media ( min-width: 900px ) {

    section {
        padding: 3rem 7rem;        
    }

    /* Training Tips Section */

    h2 {
        font-size: 4rem;
    }

    details {
        max-width: 70rem;
    }

    summary {
        font-size: 1.5rem;
    }

    .title {
        font-size: 1.2rem;
    }

    details p, .tip {
        font-size: .9rem;
    }

    


}



/* 
<div class="dorito-move">
    <h3>Dorito Movement</h3>
    <div class="video">
        <div class="video-container">
            <div class="frame">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/A6tRwYHOuAY?si=2mfoxFr4_qxObNUf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="content">
                <h4>Dorito Attack</h4>
                <p>Get to know some fundamentals on the best ways to attack on the Dorito side.</p>
            </div>
        </div>
    </div>
</div>

*/



@media ( min-width: 800px ) {

    /* Hero Section */

    .hero {
        min-height: 30rem;
        background-position: center;
    }

    .hero h1 {
        color: whitesmoke;
        font-size: 10rem;
        text-align: center;
    }

    
}