/* Footer section */

footer {
    padding: 1.5rem;
    margin-bottom: 8rem;
}

footer p {
    margin: 0 auto;
    text-align: center;
    color: rgb(218, 218, 218);
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-no-nav {
    margin-bottom: 0;
}

@media ( min-width: 900px ) {

    footer {
        padding: 3rem 7rem;        
    }
}