*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, button, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

img {
    display: block;
    width: 100%;
}

/* Hero Section */

.hero {
    background-image: url(../img/SpeedballCoachHero.png);
    min-height: 20rem;
    background-repeat: no-repeat;
    background-position: top right 30%;
    background-size: cover;
    display: grid;
    place-items: center;
}

.hero h1 {
    color: whitesmoke;
    font-size: 3.5rem;
    text-align: center;
}

/* Welcome Message Section */

.welcomeMsg {
    background-color: rgb(17, 17, 17);
    font-size: .7rem;
    color: whitesmoke;
    line-height: 1.5rem;
    padding: 5rem 1.5rem;
    font-style: italic;
}

.welcomeMsg h2 {
    margin: 0 auto;
}

/* Drills section */

#drills, #training, #self-review {
    padding: 1.5rem;
    margin: 0 auto;
}

 h3,  h4,  p, .drills-grid{
    padding-block: 1.5rem;
}

.overview-p {
    font-weight: 300;
    line-height: 1.5rem;
}

.drills h3 {
    font-size: 2.5rem;
    text-decoration: underline;
}

.drills h4 {
    font-size: 1rem ;
}

.drills-grid::-webkit-scrollbar {
    width: 0;
}

.drills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "dorito snake snap" "dorito-p snake-p snap-p";
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
}

.drills-grid > * {
    scroll-snap-align: start;
}

.drill-section {
    min-width: 15rem;
    max-width: 30rem;
}


.snake-drills {
    grid-area: snake;
}

.snapshooting-drills {
    grid-area: snap;
}

.drills-grid p {
    font-weight: 300;
    padding-bottom: 0;
}

/* Training - Become A Pro Section */

#training {
    background-color: rgb(17, 17, 17);
    color: whitesmoke;
}

.training h3 {
    font-size: 2.1rem;
    text-decoration: underline;
}

.training h4 {
    font-size: 1rem ;
}

.training p {
    font-weight: 300;
    line-height: 1.5rem;
    font-size: 1rem;
}

.training a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: #F0F0F0;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.cta {
    margin-block: 1.5rem;
}

/* Self-Review Section */

.self-review h3 {
    font-size: 2.5rem;
    text-decoration: underline;
}

.self-review h4 {
    font-size: 1rem ;
}

.self-review p {
    font-weight: 300;
    line-height: 1.5rem;
    font-size: 1rem;
}

.self-review a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: #F0F0F0;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
}

@media ( min-width: 700px ) {
    
    /* Welcome Message Section */

    .welcomeMsg h2, #drills, .training, .self-review{
        padding: 3rem 7rem;       
    }

    .overview-p, .training p, .self-review p {
        max-width: 70rem;
    }
}

@media ( min-width: 800px ) {

    /* Hero Section */

    .hero {
        min-height: 30rem;
        background-position: center;
    }

    .hero h1 {
        color: whitesmoke;
        font-size: 10rem;
        text-align: center;
    }

    
}

@media ( min-width: 1000px ) {
    
    /* Welcome Message Section */

    .welcomeMsg h2 {
        max-width: 75%;
        padding: 3rem 5rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }
}



