main section {
    margin-bottom: 0;
    padding-top: 0;
}

.back-button {
    max-width: 2rem;
    padding: 0.5rem;
    margin: .5rem;
    border-radius: 10rem;
    position: fixed;
    background-color: rgba(192, 192, 192, 0.7);
}

/* Training difficulty */

.flex-level {
    display: flex;
    flex: 1;
    align-items: baseline;
    padding-bottom: 2rem;
}

.flex-level img {
    max-width: 1rem;
    max-height: 1rem;
    margin-right: 1rem;
    align-items: flex-end;
}

/* Training plan section */

.training-plan {
    padding-bottom: 1rem;
}

.training-plan h3 {
    font-size: 1rem;
    padding-bottom: 1rem;
}

.training-plan p {
    font-weight: 300;
}

/* Training section */

.training::-webkit-scrollbar {
    width: 0;
}

.training {
    display: flex; 
    padding-top: 1rem;
    overflow-x: auto; 
    scroll-snap-type: inline mandatory; 
    scroll-padding-inline: 1rem;
    gap: 0 1rem;
}

.training > * {
    scroll-snap-align: start;
}

.drill-container {
    box-shadow:
		rgba(0,0,0,0.1) 0 2px 2px,
		rgba(0,0,0,0.1) 0 4px 4px;
    border-radius: 1rem;
    margin-bottom: 2rem;
    min-width: 15rem;
    margin-inline: auto;
    
}

.drill-info {
    padding: 1.5rem;
}

.drill-container iframe {
    max-height: 15rem;
}

/* Fundamentals section */

.fundamentals p {
    padding-bottom: 2rem;
}

/* Warm up section */

.section-list li {
    list-style: circle;
    margin-left: 2rem;
    font-size: .8rem;
    padding-bottom: 1rem;
}


@media ( min-width: 800px ) {

    /* Back button hidden */

    .back-button {
        display: none;
    }
}